.idea
configs/search.toml
configs/synczotero2.toml
configs/synciid.toml
configs/syncdiplom.toml
configs/syncfair.toml
configs/syncbang.toml
configs/copymediaserver.toml
configs/*.toml
*.pem
web/static/ionicons/*
web/static/videojs/
cmd/syncbang/export/bootstrap
cmd/syncbang/export/video-js
bootstrap*
