button,input,optgroup,select,textarea {
    font-family: Inter, sans-serif;
    font-size: 1.3rem;
    line-height: 1.15;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}


.gsearch-btn {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: .8rem;
    /* font-family: Open Sans Condensed,sans-serif; */
    padding: .5rem 2rem;
    transition: background-color .2s ease-in,color .2s ease-in
}

.gsearch-btn:visited {
}

.gsearch-btn-selectlist {
    padding: .2rem .5rem;
}

.gsearch-btn-inv {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    line-height: 1.125rem;
    padding: .7em .8em;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    color: #222;
    border: 1px solid #fff;
}

.gsearch-btn-inv:visited {
    color: #aaa;
}

.gsearch-btn-secondary {
    background-color: #666;
    color: #f88;
    border-width: 1px;
    border-style: solid;
    border-color: #f88;
}

.gsearch-btn-secondary:visited {
    color: #f88
}

.gsearch-btn:active .gsearch-btn:focus {
    opacity: .8
}

.gsearch-btn[disabled],.gsearch-btn[disabled]:active,.gsearch-btn[disabled]:focus,.gsearch-btn[disabled]:hover {
    opacity: .5;
    outline: 0;
    cursor: default
}

.gsearch-btn-seemore {
    padding: .2rem .5rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.gsearch-btn:hover,.gsearch-btn-secondary {
    background-color: #fff;
    color: #222
}

.gsearch-facet {
    margin-top: 1px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: .8rem;
    /* font-family: Open Sans Condensed,sans-serif; */
    /* padding: .5rem 2rem; */
    transition: background-color .2s ease-in,color .2s ease-in;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
}

.gsearch-facet-inv {
    margin-top: 1px;
    font-family: inherit;
    font-weight: inherit;
    font-size: .8rem;
    /* padding: .7em .8em; */
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 2px;
}

.gsearch-facet:hover {
}

.gsearch-facet-inv:hover {
}
