.table {
    display: table;
}
.tr {
    display: table-row;
    border-collapse:collapse;
}
.td {
    display: table-cell;
}

.colspan-all {
    column-span: all;
}

.header-table {
    width: calc(100% - 24px);
}